body {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  background-color: #fafafa;
}

.box-header {
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;  
}

.header {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
  max-width: 935px;
  width: 100%;
}
 
.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 100px;
}

.header .search {
  border: solid 1px #dbdbdb;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fafafa;
}

.header .search .icon-search {
  display: flex;
  align-items: center;
  color: #dbdbdb;
}

.header .search input {
  padding: 0px 5px;
  border: none;
  background-color: #fafafa;
}

.header .search input:focus {
  outline: none;
}

.header .menu {
  display: flex;
  align-items: center;
}

.header .menu .item-menu {
  margin: 0px 0px 0px 22px;
}

.header .menu .avatar {
  width: 24px;
  height: 24px;
  background-image: url("image/avatar.JPG");
  background-size: cover;
  border-radius: 50%;
}

.around-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-main {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 935px;
  width: 100%;
  padding-top: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-right: 28px; 
  box-sizing: border-box;
}

.main .content {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 60px;
}

.main .content .title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
}

.main .content .title-content .user {
  display: flex;
  align-items: center;
}

.main .content .title-content .user .avatar-user {
  width: 32px;
  height: 32px;
  background-size: cover;
  border-radius: 50%;
  margin: 15px;
}

.avatar-converse {
  background-image: url("image/avatar-converse.jpg");
}

.avatar-girl {
  background-image: url("image/avatar-girl.jpg");
}

.avatar-love {
  background-image: url('image/avatar-love.jpg');
}

.main .content .name-user {
  font-weight: 600;
}

.main .content .title-content .choice {
  padding: 15px;
}

.main .content .image-content img {
  width: 100%;
}

.main .content .action {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

.main .content .action .item-action {
  padding: 8px;
  width: 24px;
  height: 24px;
}

.main .content .number-like {
  padding: 0px 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.main .content .caption {
  padding: 0px 16px;
  margin-bottom: 4px;
  display: flex;
}

.main .content .caption .content-caption {
  padding-left: 5px;
}

.main .content .comment {
  display: flex;
  padding-left: 16px;
  margin-bottom: 4px;
}

.main .content .comment p {
  padding-right: 5px;
  margin: 0;
}

.main .content .time {
  padding-left: 16px;
  color: #888;
  font-size: 10px;
  margin-bottom: 4px;
}

.main .content .add-comment {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  padding: 16px;
  border-top: 1px solid #dbdbdb;
}

.main .content .add-comment input {
  border: none;
  color: #262626;
}

.main .content .add-comment input:focus {
  outline: none;
}

.main .content .add-comment span {
  color: #0094f69f;
  font-weight: 600;
}

.nav-bar {
  position: sticky;
  top: 80px;
  height: 50vh;
  width: 100%;
}

.nav-bar .user {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 5px;
  margin-bottom: 12px;
}

.nav-bar .user .avatar-user {
  width: 50px;
  height: 50px;
  background-image: url("image/avatar.JPG");
  background-size: cover;
  border-radius: 50%;
}

.nav-bar .user .name-user {
  margin-left: 14px;
}

.nav-bar .user .name-user .name-web {
  margin-bottom: 2px;
}

.nav-bar .user .name-user .name-real {
  font-size: 12px;
  color: #8e8e8e;
}

.nav-bar .story {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  margin-top: 4px;
  margin-bottom: 12px;
  border-radius: 4px;
  width: 100%;
}

.nav-bar .header-story {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px;
  margin-top: 12px;
}

.nav-bar .header-story .title {
  color: #8e8e8e;
  font-weight: 600;
}

.nav-bar .header-story a {
  color: #262626;
  text-decoration: none;
}

.nav-bar .header-story .more {
  font-weight: 600;
  font-size: 12px;
}

.nav-bar .story .box-story {
  margin-top: 8px;
  margin-left: 16px;
  height: 182px;
  overflow: hidden auto;
}

.nav-bar .box-story .item-story {
  display: flex;
  justify-content: space-between;
  padding: 1px 16px 1px 5px;
  height: 52px;
}

.nav-bar .box-story .item-story .item-story-infor {
  display: flex;
}

.nav-bar .box-story .item-story .avatar-user {
  width: 34px;
  height: 34px;

  background-size: cover;
  border-radius: 50%;
}

.avatar-user-story-tan {
  background-image: url("image/avatar-tan.JPG");
}

.avatar-user-story-jolly {
  background-image: url("image/avatar-jolly.jpg");
}

.avatar-user-story-yu {
  background-image: url('image/avatar-yu.jpg');
}

.avatar-user-story-bag {
  background-image: url('image/avatar-bag.jpg');
}

.avatar-user-story-jean {
  background-image: url('image/avatar-jean.jpg');
}

.nav-bar .box-story .item-story .infor {
  margin-left: 14px;
}

.nav-bar .box-story .item-story .infor .name-user {
  font-weight: 600;
  margin-bottom: 2px;
}

.nav-bar .box-story .item-story .infor .time {
  color: #8e8e8e;
  font-size: 10px;
}

.nav-bar .suggestion {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  margin-top: 4px;
  border-radius: 4px;
  width: 100%;
}

.nav-bar .suggestion .box-story {
  margin-top: 8px;
  margin-left: 16px;
}

.nav-bar .suggestion .follow {
  border: none;
  background: 0 0;
  color: #0095f6;
  font-size: 12px;
}

.follow-girl {
  background-image: url('image/follow-girl.jpg');
}

.follow-bow {
  background-image: url('image/follow-bow.jpg');
}

.follow-python {
  background-image: url('image/follow-python.jpg');
}